---
layout: base
title: Workshop Title
page_name: home
takeaways_text: |-
  By having hands-on (instructor or self-paced), you will gain following knowledge:
takeaways:
  - Takeaway 1
  - Takeaway 2
  - Takeaway 3
  - Takeaway 4
notes:
  The workshop will be conducted strictly based on the syllabus so that most of
  the topics could be covered in time.
  It is upto the instructor to respond to 'OUT of SYLLABUS' type queries of the student.
prerequisites:
  - Laptop or desktop with working computer knowledge
  - Enthusiasm to learn
  - Prerequisite 3
  - Prerequisite 4
---

{% include episode_title.html %}
{% include key_takeaways.html %}
{% include prerequisites.html %}
{% include syllabus.html %}
